---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    To create new stores rapidly while maintaning the store isolation. 
    SDE-III in Amazon. Working on building frameworks for creating  service infrasturture for  Amazon go/Just Walkout  stores  150+ microservices 
    Building new infrasturture so it can scale up with bussiness demands while needing no or less effort from Engineer's. 
    <br/><br/>
    I worked with another team in Amazon to build the self service tooling to manage the Amazon Buyer/Seller Risk management via a self service mechanism used by 40+ bussiness. 
    Every bussiness had a need to onboard and do multiple risk checks on the orders/events. I have worked with the customers and platforms to create the tooling so Bussiness can manage their own risk manageent not needing Platform to make changes for them.  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Science & Engineering"
      subtitle="2006 to 2010 at Kalinga Instittue of Industrial Technology, Bhubhaneshwar, India" 
    />
    <TimeLineElement
    title="10+2"
    subtitle="2004 to 2006 at Maa Bharti Vidhya Bhawan, Kota, India" 
  />

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Development Engineer - III"
      subtitle="From 2021 at Amazon Go/JWO, Bangalore, India"
      desc="Building the rocketship to launch new stores service infrastruture rapidly, working with team with oveall goals to to reduce the store bringup time by 90%"
    />
    <TimeLineElement
      title="Software Development Engineer-III"
      subtitle="From 2013 at Custom Account and Risk Protection, India"
      desc="Build the self service tooling to enable the Risk protection Bussiness and ML teams to onboard their bussiness in self service way reducing the overall onboarding time by 80%, ML scientist and bussines teams can configure their bussines risk, review and revert back in self service way without needing engineering team."
    />

    <TimeLineElement
      title="SDE"
      subtitle="From 2010 to 2011 at Amdocs, Pune"
      desc="Worked with Infrastruture development team to release the Software and create the build tools to manage the hotfixes"
    />

  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English (C2)</li>
    <li>AWS-SQS</li>
    <li>AWS-SNS</li>
    <li>AWS-DDB</li>
    <li>AWS-Cloudwatch</li>
    <li>AWS-Kinesis</li>
    <li>AWS-Route53</li>
    <li>AWS-Cloudformation</li>
    <li>JavaScript</li>
    <li>Ruby</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Node.js</li>
    <li>Ruby on Rails</li>
    <li>AngularJS</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
  </ul>
</BaseLayout>
